.popup__button{
	width:358px;
	height: 50px;
	background-color:black;
	margin:18px 36px 37px 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	color:white;
}
.popup__button:hover{
	cursor:pointer;
	background-color: rgba(0,0,0,0.8);
}
@media (max-width: 550px) {
	.popup__button{
		width:238px;
		height: 46px;
		margin: 10px auto 25px auto;
	}
}