.popup__underline{
	background-color: black;
	background-size: 358px 1px;
	margin:13px 36px 30px 36px;
	border:0.5px solid black;
	opacity: 0.2;
}
@media (max-width: 550px) {
	.popup__underline{
		max-width: 238px;
		margin:13px 22px 30px 22px;
	}
}