.popup__role-form{
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	margin:0 auto 0 36px;
	max-width: 358px;
}
@media (max-width: 550px) {
	.popup__role-form{
		max-width: 238px;
		margin:0 auto 0 22px;
	}
}