.cross-button{
	width: 32px;
	height: 32px;
	background:url(../../images/cross.png);
	background-size:100%;
	position: absolute;
	top: -40px;
	right:-40px;
}
@media (max-width: 550px) {
	.cross-button{
		width:20px;
		height: 20px;
		top:-36px;
		right: 0;
	}
}