.profile-info__edit-button{
	width: 24px;
	height: 24px;
	margin:15px 0 0 0;
	background: url(../../../images/pen.png);
	background-size: 10px 10px;
	background-repeat: no-repeat;
	background-position: center;
	align-self: center;
	border:1px solid white;
}
.profile-info__edit-button:hover{
	cursor:pointer;
	opacity: 60%;
}
@media (max-width: 360px) {
	.profile-info__edit-button{
		width:18px;
		height: 18px;
		background-size: 7.5px 7.5px;
		margin-top: 30px;
	}
}