.add-button__image{
	width:150px;
	height: 50px;
	background:url(../../../images/plus.png);
	background-size: 22px 22px;
	background-repeat: no-repeat;
	background-position: center;
	margin:35px 0 0 0;
	align-self: center;
	justify-content: center;
}
.add-button__image:hover{
	cursor:pointer;
	opacity: 60%;
}
@media (max-width: 1041px) {
	.add-button__image{
		width: 100%;
	}
}