.profile__add-button{
	width:150px;
	height: 50px;
	background:url(../../../images/plus.png);
	background-size: 22px 22px;
	background-repeat: no-repeat;
	background-position: center;
	margin:0;
	align-self: center;
	justify-content: center;
	border:2px solid white;
}
.profile__add-button:hover{
	cursor:pointer;
	opacity: 60%;
}
@media (max-width: 1041px) {
	.profile__add-button{
		margin-top: 30px;
		width: 282px;
	}
}