.submit-button{
	width:358px;
	height: 50px;
	background-color:black;
	margin:48px auto 37px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.submit-button:hover{
	cursor:pointer;
	background-color: rgba(0,0,0,0.8);
}
@media (max-width: 550px) {
	.submit-button{
		width:238px;
		height: 46px;
		margin:45px auto 25px auto;
	}
}