.profile-info{
	color:white;
	margin-left: 30px;
	display: grid;
	grid-template-rows: max-content 24px;
	grid-template-columns: max-content 24px;
	gap:16px 18px;
	margin:0 auto 0 30px;
}
@media (max-width: 1041px) {
	.profile-info{
		justify-self:center;
		margin-bottom:0;
		margin-left: 0;
	}
}
@media (max-width: 360px) {
	.profile-info{
		gap: 14px 10px;
	}
}